﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    background-color: white;
}

.custom-container {
    border: 2px solid;
    border-color: rgb(0, 155, 94);
    background-color: white;
    border-radius: 15px;
    overflow-x: hidden;
    /*overflow-y: auto;*/

    padding: 10px;
    margin: 7px;
    box-shadow: 0px 0px 32px 4px rgba(0,0,0,0.1);
}

    .custom-container:hover {
        cursor: pointer;
    }
    .navbar {
    background-color: rgb(0, 155, 94) !important;
    border: none !important;
}

.navbar a {
    color: white !important;
}

.chartContainer {
    display: flex;
    justify-content: center;
}

button {
    background-color: rgb(0, 155, 94);
    border-radius: 10px;
    border: none;
    color: white;
    padding: 5px;
    font-size: medium;
}

select {
    background-color: rgb(0, 155, 94);
    border-radius: 10px;
    border: none;
    color: white;
    padding: 5px;
    font-size: medium;
}

.normalLabel {
    font-size: medium;
}

#labelId, #labelOwner {
    color: rgb(0, 155, 94);
    font-size: medium;
}

input[type="submit"] {
    background-color: rgb(0, 155, 94);
    border-radius: 10px;
    border: none;
    color: white;
    padding: 5px;
    font-size: medium;
}

input[type="text"] {
    margin: 5px;
    background-color: #DDDDDD;
    border-radius: 10px;
    border: none;
    color: #404040 !important;
    padding: 5px;
    font-size: medium;
}

::placeholder {
    color: #909090;
    opacity: 1; /* Firefox */
}

