﻿@{
    ViewBag.Title = "Contatti";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Università di Bologna, Campus di Cesena<br />
    Via Cesare Pavese, 50, 47521 Cesena FC<br />
    <abbr title="Phone">Email:</abbr>
    urp@unibo.it
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">lorenzo.zoffoli5@studio.unibo.it</a><br />
</address>