﻿@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="" />

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin="">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>

<style>
    #map {
        height: 500px;
    }
</style>

@Html.Raw(ViewBag.coInit)

<br />

<div id="map"></div>

<br />

<select name="Raggruppa dati per" id="selectRangeData">
    <option value="1">Ultimo Giorno</option>
    <option value="7">Ultima Settimana</option>
    <option value="30">ultimo Mese</option>
    <option value="365">Ultimo Anno</option>
</select>

<select name="Raggruppa dati per" id="selectOrario">
    <option value="0">0:00</option>
    <option value="1">1:00</option>
    <option value="2">2:00</option>
    <option value="3">3:00</option>
    <option value="4">4:00</option>
    <option value="5">5:00</option>
    <option value="6">6:00</option>
    <option value="7">7:00</option>
    <option value="8">8:00</option>
    <option value="9">9:00</option>
    <option value="10">10:00</option>
    <option value="11">11:00</option>
    <option value="12">12:00</option>
    <option value="13">13:00</option>
    <option value="14">14:00</option>
    <option value="15">15:00</option>
    <option value="16">16:00</option>
    <option value="17">17:00</option>
    <option value="18">18:00</option>
    <option value="19">19:00</option>
    <option value="20">20:00</option>
    <option value="21">21:00</option>
    <option value="22">22:00</option>
    <option value="23">23:00</option>
</select>

<select name="Raggruppa dati per" id="selectFunzioneVisualizzazione">
    <option value="avg">Media</option>
    <option value="max">Valore Massimo</option>
    <option value="min">Valore Minimo</option>
</select>

<br />
<br />

<button onclick="CercaConParametri()">Calcola dati sensore selezionato</button>
<label class="normalLabel">Id Dispositivo: </label><label id="labelId"></label>
<label class="normalLabel">Utilizzatore: </label><label id="labelOwner"></label>
<br />
<br />

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><div class="custom-container" onclick="ShowSensorChart(89, 'PM 1.0')"><h4>PM 1.0</h4><h4 id="sensor89">-</h4><h4>ug/m3</h4></div></li>
        <li><div class="custom-container" onclick="ShowSensorChart(87, 'PM 2.5')"><h4>PM 2.5</h4><h4 id="sensor87">-</h4><h4>ug/m3</h4></div></li>
        <li><div class="custom-container" onclick="ShowSensorChart(88, 'PM 10')"><h4>PM 10</h4><h4 id="sensor88">-</h4><h4>ug/m3</h4></div></li>
        <li><div class="custom-container" onclick="ShowSensorChart(56, 'Umidità')"><h4>Umidit&agrave;</h4><h4 id="sensor56">-</h4><h4>%</h4></div></li>
        <li><div class="custom-container" onclick="ShowSensorChart(55, 'Temperatura')"><h4>Temperatura</h4><h4 id="sensor55">-</h4><h4>ºC</h4></div></li>
        <li><div class="custom-container" onclick="ShowSensorChart(58, 'Pressione barometrica')"><h4>Pressione barometrica</h4><h4 id="sensor58">-</h4><h4>kPa</h4></div></li>
        <li><div class="custom-container" onclick="ShowSensorChart(53, 'Rumore')"><h4>Rumore</h4><h4 id="sensor53">-</h4><h4>dBA</h4></div></li>
        <li><div class="custom-container" onclick="ShowSensorChart(14, 'Luce')"><h4>Luce</h4><h4 id="sensor14">-</h4><h4>Lux</h4></div></li>
        <li><div class="custom-container" onclick="ShowSensorChart(10, 'Batteria')"><h4>Batteria</h4><h4 id="sensor10">-</h4><h4>%</h4></div></li>
    </ul>
</div>

<div class="chartContainer">
    <canvas id="myChart" width="800" height="400"></canvas>
</div>

<script src="@Url.Content("~/Scripts/mapFunctions.js")" type="text/javascript">

</script>

<script>
    L.Map.include({
        'clearLayers': function () {
            this.eachLayer(function (layer) {
                this.removeLayer(layer);
            }, this);
        }
    });

    var map = L.map('map').setView([44.494887, 11.3426163], 13);
    var myChart = null;
    var currentId = NaN;
    var deviceOwner = NaN;
    var ids = JSON.parse(jsonSensorsIDs);

    ids.forEach((id) => AddMarker(id));

    ShowMap();
</script>



@*@section scripts {

    }*@

@*<script type="text/javascript">
         @Model.JavascriptToRun
    </script>*@

@*@{
             Layout = "~/Scripts/showMap.js";
    }*@




