﻿
@{
    ViewBag.Title = "Accedi";
}

<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<form action="VerificaCredenziali" method="post">
    <label class="normalLabel">Username</label>
    <input type="text" name="IndirizzoEmail" placeholder="Inserisci nome utente" required="" />
    <br />
    <label class="normalLabel">Password</label>
    <input type="text" name="Password" placeholder="Inserisci password" required="" />
    <br />
    <br />
    <input type="submit" value="ACCEDI" />
</form>